.card{
    border: solid rgb(255, 241, 241);
    border-radius: 15px;
    height: 240px;
    margin: 10px;
    width: 240px;
    background-color: #ECA012;
}
h4{
    position: relative;
    top: -15px
}
.img{
    width: 230px; 
    height: 120px;
    position: relative;
    left: 1px;
    top: -32px; 
}

.informacion{
    width: 230px;
    position: relative; 
    top: -35px;
    left: 5px; 
}

.informacion #peso {
    position: relative;
    left: -30px;
}