.filtro{
   position: relative;
   top: -22px;
   width: 200px;
   height: 100vh;
   background-color: #5F656B;
}
#peso{
    position: relative; 
    top: 0px;
}
#nombre{
    position: relative; 
    top: 20px;
    left: -35px;
}

.orden{
    
position: relative; 
top: 15px; 
}

.filtra{
    position: relative; 
    top: 100px; 
}