.listado{

    width: 1050px;
    height: 100vh;
    position: relative; 
    left: 180px; 
    top: -580px; 
    color: black; 
}

ul{   
    padding: 20px;
     display: grid;
    grid-template-columns: repeat(4, 1fr); 
}